<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66835216080-b058uppto0f9qll5lobnttifm52bm0m4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66835216080-b058uppto0f9qll5lobnttifm52bm0m4</string>
	<key>API_KEY</key>
	<string>AIzaSyCPmfssWoOpTBfmMbVYuIfeYlMcRNHsqHo</string>
	<key>GCM_SENDER_ID</key>
	<string>66835216080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fsv.crashlyticsTest</string>
	<key>PROJECT_ID</key>
	<string>doyoulikewhatyousee-fdbb2</string>
	<key>STORAGE_BUCKET</key>
	<string>doyoulikewhatyousee-fdbb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66835216080:ios:4865d76665d259c9</string>
	<key>DATABASE_URL</key>
	<string>https://doyoulikewhatyousee-fdbb2.firebaseio.com</string>
</dict>
</plist>